@import url('https://fonts.googleapis.com/css2?family=Electrolize');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.font-body{
    font-family: 'Electrolize';
    font-style: normal;
}

.formError {
    font-size:10px;
    color: red;
}

@media (min-width: 320px) {
    .typewriter{
        font-size: 2rem;
        margin-top: 6rem;
    }
}

.font-paragraph {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
}

.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }