@import url('https://fonts.googleapis.com/css2?family=Electrolize');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-body{
    font-family: 'Electrolize';
    font-style: normal;
}

.formError {
    font-size:10px;
    color: red;
}

@media (min-width: 320px) {
    .typewriter{
        font-size: 2rem;
        margin-top: 6rem;
    }
}